@model WebApp.ViewModels.CreateLocationVm

<form asp-action="Create" asp-controller="Location" method="post">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="mb-3">
            <label asp-for="TownName" class="form-label"></label>
            <input asp-for="TownName" class="form-control" />
            <span asp-validation-for="TownName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PostalCode" class="form-label"></label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CountryName" class="form-label"></label>
            <input asp-for="CountryName" class="form-control" />
            <span asp-validation-for="CountryName" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Location</button>
    </div>
</form>
